* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*background-color: #424141;*/
    background-color: rgba(97, 96, 95, 0.5);
}

.msgLoading {
    font-weight: bold;
    font-size: 1.5em;
    color: white;
    position: absolute;
    left: 30%;
    top: 40%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: lightsteelblue;
    color: darkslateblue;
    border-bottom: 3px ridge darkgrey;
    height: 2em;
    padding-left: 5px;
    padding-top: 5px;
}

#screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 3px ridge darkgrey;
}

#popup {
    display: none;

    position: absolute;
    z-index: 100;
    top: 100px;
    right: 0;
    left: 0;
    margin: 0 auto;

    width: 400px;
    height: 100px;

    background-color: white;
    border: 4px outset lightgrey;
    padding: 15px;
}

.popupHeader {
    position: relative;
    background-color: lightsteelblue;
    color: darkslateblue;
    border-bottom: 3px ridge darkgrey;
    height: 1.5em;
    margin: -15px -15px 15px -15px;
    padding-top: 5px;
    padding-left: 5px;
    font-weight: bold; 
}

input.popupClose {
    position: absolute;
    right: 5px;
    
    width: 20px;
    height: 20px;
    vertical-align: middle;
    text-align: center;
}

input[type="text"] {
    width: 87%;
}
